numpy==1.26.1
pandas==2.1.2
matplotlib==3.8.1
torch==2.2.1
torchmetrics
umap-learn==0.5.4
scikit-learn>=1.3.2
scipy==1.11.3
seaborn==0.13.0
optuna==3.5.0
gcsfs==2023.10.0 # google cloud storage
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
optuna-dashboard
mysqlclient
paretoset #find the pareto frontier of a set of points
learn2learn # testing for meta-learning, needed to update torch to 2.2.1?
neptune # neptune AI for model tracking (paid)
mlflow # mlflow for model tracking (free)
neptune-optuna
neptune-mlflow
torchviz
neptune-pytorch
plotly
lifelines
scikit-survival # scikit-learn for survival analysis, they suggest using conda to install
torchtext # needed for scGPT
anndata #annotated data, needed for scGPT, but should be used for future work too
datasets
leidenalg
llvmlite
networkx
numba
scanpy
scvi-tools
scikit-misc #used for loess regression, but I don't think it is used
scib
tqdm
wandb
louvain
xgboost
coral-pytorch
openpyxl